<div class="row">
    <div class="col-sm-2 text-secondary"><strong>IP address</strong></div>
    <div class="col-sm-2 mb-2 mb-lg-0">{{device.clientNetworkIp}}</div>
    <div class="col-sm-2 text-secondary"><strong>HW version</strong></div>
    <div class="col-sm-2 mb-2 mb-lg-0">{{device.hwVersion}}</div>
    <div class="col-sm-2 text-secondary"><strong>Activation at</strong></div>
    <div class="col-sm-2 mb-2 mb-lg-0">{{device.activationDate | date:'shortDate'}}</div>
</div>
<div class="row">
    <div class="col-sm-2 text-secondary"><strong>MAC address</strong></div>
    <div class="col-sm-2 mb-2 mb-lg-0">{{device.macAddress}}</div>
    <div class="col-sm-2 text-secondary"><strong>SW version</strong></div>
    <div class="col-sm-2 mb-2 mb-lg-0">{{device.swVersion}}</div>
    <div class="col-sm-2 text-secondary"><strong>Assembling at</strong></div>
    <div class="col-sm-2 mb-2 mb-lg-0">{{device.assemblingDate | date:'shortDate'}}</div>
</div>
