<form #form="ngForm" (ngSubmit)="submit()">
    <fieldset [disabled]="pending">
        <div class="form-group row">
            <label for="name" class="col-sm-2 col-form-label">Name</label>
            <div class="col-sm-10">
                <input type="text"
                       #name="ngModel"
                       name="name"
                       [required]="true"
                       [(ngModel)]="user.displayName"
                       [class.is-invalid]="name.invalid && (name.dirty || name.touched)"
                       class="form-control"
                       id="name">
            </div>
        </div>
        <div class="form-group row">
            <label for="phone" class="col-sm-2 col-form-label">Phone</label>
            <div class="col-sm-10">
                <input type="text"
                       #phone="ngModel"
                       name="phone"
                       mask="+000000000009"
                       [required]="user.roleName === userRole"
                       [(ngModel)]="user.phone"
                       [class.is-invalid]="phone.invalid && (phone.dirty || phone.touched)"
                       class="form-control"
                       id="phone">
            </div>
        </div>
        <div class="form-group row">
            <label for="email" class="col-sm-2 col-form-label">Email</label>
            <div class="col-sm-10">
                <input type="text"
                       #email="ngModel"
                       name="email"
                       [(ngModel)]="user.email"
                       [class.is-invalid]="email.invalid && (email.dirty || email.touched)"
                       class="form-control"
                       id="email">
            </div>
        </div>
        <div class="form-group row">
            <label for="login" class="col-sm-2 col-form-label">Login</label>
            <div class="col-sm-10">
                <input type="text"
                       #login="ngModel"
                       name="login"
                       [required]="true"
                       [(ngModel)]="user.userName"
                       [class.is-invalid]="login.invalid && (login.dirty || login.touched)"
                       class="form-control"
                       id="login">
            </div>
        </div>
        <div class="form-group row" *ngIf="!create">
            <div class="col-sm-2"></div>
            <div class="col-sm-10">
                <div class="form-check">
                    <input class="form-check-input"
                           name="active"
                           [value]="showPassword"
                           (change)="showPassword = !showPassword"
                           type="checkbox"
                           id="pwdcb">
                    <label class="form-check-label" for="pwdcb">
                        Change password
                    </label>
                </div>
            </div>
        </div>
        <div *ngIf="create || showPassword">
            <div class="form-group row">
                <label for="pwd" class="col-sm-2 col-form-label">Password</label>
                <div class="col-sm-10">
                    <input type="password"
                           #pwd="ngModel"
                           name="pwd"
                           [required]="true"
                           [(ngModel)]="user.password"
                           [class.is-invalid]="pwd.invalid && (pwd.dirty || pwd.touched)"
                           [minLength]="6"
                           class="form-control"
                           id="pwd">
                    <small id="emailHelp" class="form-text text-muted">Password must be more than 6 chars</small>
                </div>
            </div>
            <div class="form-group row">
                <label for="cpwd" class="col-sm-2 col-form-label">Confirm password</label>
                <div class="col-sm-10">
                    <input type="password"
                           #cpwd="ngModel"
                           name="cpwd"
                           [required]="true"
                           [(ngModel)]="confirmPassword"
                           [class.is-invalid]="cpwd.invalid && (cpwd.dirty || cpwd.touched)"
                           [minLength]="6"
                           class="form-control"
                           id="cpwd">
                </div>
            </div>
        </div>
        <div class="form-group row">
            <label for="role" class="col-sm-2 col-form-label">Role</label>
            <div class="col-sm-10">
                <select class="form-control"
                        #role="ngModel"
                        name="role"
                        id="role"
                        [(ngModel)]="user.roleName"
                        [required]="true"
                        [class.is-invalid]="role.invalid && (role.dirty || role.touched)"
                >
                    <option [value]="role" *ngFor="let role of roles">{{role}}</option>
                </select>
            </div>
        </div>

        <div class="form-group row">
            <div class="col-sm-2"></div>
            <div class="col-sm-10">
                <div class="form-check">
                    <input class="form-check-input"
                           #active="ngModel"
                           name="active"
                           [(ngModel)]="user.isActive"
                           type="checkbox"
                           id="gridCheck1">
                    <label class="form-check-label" for="gridCheck1">
                        Active
                    </label>
                </div>
            </div>
        </div>
    </fieldset>
    <div class="alert alert-danger" role="alert" *ngIf="error">
        {{error}}
    </div>
    <div class="form-group row">
        <div class="col-sm-12 text-center">
            <button type="submit"
                    class="btn btn-primary mr-2"
                    [disabled]="form.form.invalid || pending || ((showPassword || create) && (user.password !== confirmPassword))">Save</button>
            <button type="button" class="btn btn-outline-secondary" (click)="cancel()">Cancel</button>
        </div>
    </div>
</form>
