<div class="container my-4">
    <h2>Events</h2>
    <div class="form-group row">
        <div class="col-sm-2">
            <label>Start Date</label>
            <input (dateTimeChange)="startDateTimeChanged($event)" [owlDateTimeTrigger]="dt1" [owlDateTime]="dt1"
                   class="form-control"
                   placeholder="Start Date Time">
            <owl-date-time #dt1 hideOtherMonths="false"></owl-date-time>
        </div>

        <div class="col-sm-2">
            <label>End Date</label>
            <input class="form-control" [owlDateTime]="dt2" [owlDateTimeTrigger]="dt2"
                   placeholder="End Date Time" (dateTimeChange)="endDateTimeChanged($event)">
            <owl-date-time #dt2 hideOtherMonths="false"></owl-date-time>
        </div>

        <div class="col-sm-8">
            <button class="btn btn-outline-primary" (click)="loadEvents()" style="margin: 10px">Filter events</button>
        </div>
    </div>

    <div class="card mb-2" *ngFor="let event of rows">
        <div class="card-body">
            <h5 class="card-title">{{event.time | date:'short'}}</h5>
            <h6 class="card-subtitle mb-2 text-muted">{{event.message}}</h6>
            <p class="card-text">
                <img class="eventimage" [class.eventimage_small]="!entry.$toggle"
                     [class.eventimage_full]="entry.$toggle" [src]="entry.imageUrl"
                     *ngFor="let entry of event.entries" (click)="entry.$toggle = !entry.$toggle"/>
            </p>
        </div>
    </div>

    <ngb-pagination (pageChange)="loadPage($event)"
                    [(page)]="page.pageNumber"
                    [pageSize]="page.size"
                    [collectionSize]="page.total"
                    [maxSize]="20"
                    [rotate]="true"
                    [boundaryLinks]="true">
    </ngb-pagination>
</div>
