<div class="left-nav">
    <ul class="menu">
        <li>
            <a routerLink="/devices" class="menu__item" routerLinkActive="menu__item_active">
                <app-icon-dashboard></app-icon-dashboard>
                <div class="menu__caption">Dashboard</div>
            </a>
        </li>
        <li>
            <a routerLink="/events" class="menu__item" routerLinkActive="menu__item_active">
                <app-icon-events></app-icon-events>
                <div class="menu__caption">Events</div>
            </a>
        </li>
        <li>
            <a routerLink="/settings" class="menu__item" routerLinkActive="menu__item_active">
                <app-icon-settings></app-icon-settings>
                <div class="menu__caption">Settings</div>
            </a>
        </li>
    </ul>
</div>
