@import "../styles/colors.scss";

@mixin input-textbox {
    border: 1px solid $input-border-color;
    box-sizing: border-box;
    border-radius: 5px;
    padding-left: 16px ;
    color: $input-text-color ;
    font-size:16px ;
}
