.hint {
    font-family: Roboto-Regular;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 16px;
    letter-spacing: 0.4px;
    color: #33325C;
    mix-blend-mode: normal;
    opacity: 0.6;
    margin-left: 14px;
    margin-top: 4px;
}
