<div class="home h-100" style="overflow-x: hidden; ">
    <div class="container-fluid h-100">
        <div class="row h-100">
            <div class=" col-6 h-100 logo  d-none d-md-block">
                <div class="human-logo h-100">
                    <img class="h-100" src="../../../assets/images/logo_security.png" />
                </div>
            </div>
            <div class="col-md-6 h-100 col-sm-12 col-xs-12">
                <div class="camera-logo  d-none d-md-block">
                    <img src="../../../assets/images/logo_camera.png" />
                </div>
                <div class="form-container clear-mobile-margin">
                    <ng-content></ng-content>
                </div>
            </div>
        </div>
    </div>
</div>
