@import "../../../styles/colors.scss";
@import "~src/styles/mobile";

.alert-item {
    font-weight: 500;
    font-size: 24px;
    line-height: 28px;
    color: $input-text-color;
    margin-bottom: 20px;

    &.camera-info {
        border-top: 1px solid #EBEBEF;
        padding: 20px 0;
        margin-bottom: 0;
    }

    span.username {
        &:first-child{
            width:150px;
        }
        color: $input-text-color;
        font-style: normal;
        font-weight: normal;
        font-size: 16px;
        line-height: 18px;
        margin-right: 16px;
    }
}

.actions {
    @include mobile() {
        margin-top: 10px;
    }
}
