.checkbox {
    width: auto;
    margin-top: 16px;
    vertical-align: middle;
}

.checkbox-label {
    margin-top: 16px;
    display: inline-block;
    vertical-align: middle;
    margin-left: 4px;
}
