@import "../../../styles/colors.scss";
@import "~src/styles/mobile";

.wrapper {
    padding-top: 30px;
    padding-bottom: 30px;
    max-width: 1680px;
}

.table-container {
    padding: 30px 120px 23px 120px;
}

.dashboard {
    margin:26px 0;
    background-color: #fff;
    padding: 24px;
    border: 1px solid #F1F3F4;
    box-sizing: border-box;
    border-radius: 5px;
    color: $input-text-color;
}

.diagram {
    color: $input-text-color;
    font-size:18px;
    text-align:center;
    margin-left: 80px;

    &>div:first-child{
        margin-bottom:20px;
    }

    @include mobile() {
        margin-top: 20px;
        margin-left: 0;
    }
}

.device-dependencies {
    width: 100%;
    background: #FFFFFF;
    border: 1px solid #F1F3F4;
    box-sizing: border-box;
    border-radius: 5px;
    padding:16px 23px;
    &.device-dependency-camera {
        margin-right: 12px;

        @include mobile() {
            margin-right: 0;
            margin-bottom: 26px;
        }
    }

    &.device-dependency-users {
        margin-left: 12px;

        @include mobile() {
            margin-left: 0;
        }
    }
}
