@import "~src/styles/mobile";

.wrapper {
    padding-top: 30px;
    padding-bottom: 30px;
}

.roi-header {
    font-family: Roboto-Regular;
    font-style: normal;
    font-weight: 500;
    font-size: 32px;
    line-height: 37px;
}
